Backend/web/LighterBaseHubData
Backend/app/LighterBaseDate
TEST/__pycache__
TEST/uv.lock
Backend/web-beta/LighterBaseHubData
Backend/web-beta/LighterBaseHubData/data.db
Backend/web-beta/LighterBaseHubData/data.db-shm
Backend/web-beta/LighterBaseHubData/data.db-wal
Backend/web-beta/Test/__pycache__
Backend/web-beta/Test/uv.lock
Backend/web-beta/LighterBaseHubData
TEST
Frontend/lighterBaseWeb
Backend/web/test/__pycache__
Backend/web/test/uv.lock
Backend/web_test/LighterBaseHubData
Backend/web_beta/LighterBaseHubData
Backend/app_beta/LighterBaseData
Backend/app_beta/test/__pycache__
Backend
